<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <title>Grids</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=DM+Serif+Text:ital@1&display=swap");
    </style>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item" id="cell-1">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet
          doloribus repellat neque harum placeat autem laborum odio libero
          consequuntur veritatis sint, quia architecto ratione consectetur
          magni! Ut, sunt amet! Rerum.
        </p>
      </div>
      <div class="grid-item" id="cell-2"></div>
      <div class="grid-item" id="cell-3"></div>
      <div class="grid-item" id="cell-4"></div>
      <div class="grid-item" id="cell-5">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          vitae nostrum cumque, libero pariatur magni culpa numquam deleniti
          nemo est mollitia rerum saepe ut ipsum et voluptatem aliquid impedit
          perferendis?<br />Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Quisquam quam dolorum accusamus! Mollitia, temporibus! Libero
          repellendus possimus amet! Natus nesciunt incidunt neque repellat
          voluptatum exercitationem illum nostrum architecto reiciendis.
          Quisquam.<br />Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Similique temporibus voluptas, placeat sapiente exercitationem
          quisquam nostrum doloribus repellendus iure saepe eveniet commodi, at
          sit rerum pariatur! Quod laborum voluptates dolore!
        </p>
      </div>
      <div class="grid-item" id="cell-6"></div>
      <div class="grid-item" id="cell-7"></div>
      <!-- <div class="grid-item cell-1">
        
      </div>
      <div class="grid-item cell-2"></div>
      <div class="grid-item cell-3"></div>
      <div class="grid-item cell-4"></div>
      <div class="grid-item cell-5">
        
      </div>
      <div class="grid-item cell-6"></div>
      <div class="grid-item cell-7"></div> -->
    </div>
  </body>
</html>
