<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>      
        @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
        
        body {
            font-family: 'DM Serif Display', serif;
        }
    </style>
    </style>
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item" id="grid1">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum
          provident et cupiditate praesentium pariatur rem, illum nihil,
          voluptatum voluptatibus, facilis totam aliquid? Ipsum possimus
          laudantium magni deserunt amet blanditiis dignissimos.
        </p>
      </div>
      <div class="grid-item" id="grid2"></div>
      <div class="grid-item" id="grid3"></div>
      <div class="grid-item" id="grid4"></div>
      <div class="grid-item" id="grid5"></div>
      <div class="grid-item" id="grid6"></div>
      <div class="grid-item" id="grid7"></div>
      <div class="grid-item" id="grid8">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          aspernatur quo minima quod ipsum, error delectus autem perferendis
          illo non. Iusto obcaecati, nemo nobis eius eum aliquam aliquid magnam
          laudantium.<br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptates eos, quos illum repellendus, autem incidunt reprehenderit magni omnis, temporibus unde error sit porro aliquid. Porro amet a harum qui!
        </p>
      </div>
    </div>
  </body>
</html>
